/* You can add global styles to this file, and also import other style files */
.skin_1 .colorFondo {
  background: red;
  color: white;
}
.skin_2 .colorFondo {
  background: green;
  color: white;
}
.skin_3 .colorFondo {
  background: blue;
  color: white;
}
